@import 'tailwindcss';

html,
body {
    min-height: 100vh;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

body,
div,
header,
main,
footer,
nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
}

/* Global styles */
body {
    /* Font */
    font-size: 100%;

    /* Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}